# Ignore files for push...

# General exclusions
# .gitignore
.idea/
venv/

# Exclusion for D:\R.GISPython\HydroGeoZone
# Excluded because the files sizes are more than 100MB
# Drenaje_Sencillo layer compress in 95MB files parts as DrenajeSencilloDownload.part1.rar to .part4
# HydroGeoZone/Output/
HydroGeoZone/Data/Drenaje_Sencillo.*
HydroGeoZone/Output/DrenajeSencilloIntersect.*
HydroGeoZone/Output/DrenajeSencilloFiltro.*

# Exclusion for D:\R.GISPython\TableInterpolatedGrid
TableInterpolatedGrid/OutputColorMap/
TableInterpolatedGrid/OutputGrid/

# Exlcusion for large files
UnpivotTable/*.csv


# Some samples
# http://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository#Ignoring-Files

# ignore all .a files
# *.a

# but do track lib.a, even though you're ignoring .a files above
# !lib.a

# ignore all files in any directory named build
# build/

# ignore doc/notes.txt, but not doc/server/arch.txt
# doc/*.txt

# ignore all .pdf files in the doc/ directory and any of its subdirectories
# doc/**/*.pdf