# Ignore files for push..

Hola.txt
.gitignore
.idea/
venv/
# HydroGeoZone/Output
HydroGeoZone/Data/Drenaje_Sencillo.*
HydroGeoZone/Output/DrenajeSencilloIntersect.*

# Some samples
# http://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository#Ignoring-Files

# ignore all .a files
# *.a

# but do track lib.a, even though you're ignoring .a files above
# !lib.a

# ignore all files in any directory named build
# build/

# ignore doc/notes.txt, but not doc/server/arch.txt
# doc/*.txt

# ignore all .pdf files in the doc/ directory and any of its subdirectories
# doc/**/*.pdf